{
  "clustername": "{{ clustername }}",
  "basedomain": "{{ basedomain }}",
  "ocpversion": "{{ ocpversion }}",
  "clusters_dir": "{{ clusters_dir }}",
  "sno": "{{ sno }}",
  "destroy_if_exists": "{{ destroy_if_exists }}",
  "kvmnetwork": "{{ kvmnetwork }}",
  "worker_mem": "{{ worker_mem }}",
  "worker_cpu": {{ worker_cpu }},
  "n_worker": {{ n_worker }},
  "master_mem": "{{ master_mem }}",
  "master_cpu": {{ master_cpu }},
  "extra_disks": {{ extra_disks }},
  "extra_disk_size": {{ extra_disk_size }},
  "installodf": "{{ installodf }}",
  "installocpvirt": "{{ installocpvirt }}",
  "local_quay_registry": "{{ local_quay_registry }}",
  "admin_user": "{{ admin_user }}",
  "htpasswd_pass": "{{ htpasswd_pass }}",
  "remove_kubeadmin_user": "{{ remove_kubeadmin_user }}",
  "clustertype": "UPI",
  "platform": "none",
  "infra": "kvm",
  "vmwarenotes": "KVM cluster"
}
